*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/lyneon/cytoidinfoquerier/
/app/src/test/java/com/lyneon/cytoidinfoquerier/
/.idea/deploymentTargetDropDown.xml
/app/src/main/java/com/lyneon/cytoidinfoquerier/SecretData.kt
/.idea/
