<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="me.tigerhix.cytoid" />
    </queries>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CytoidInfoQuerierCompose"
        tools:targetApi="31">

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <activity
            android:name=".ui.activity.CrashActivity"
            android:exported="false"
            android:theme="@style/Theme.CytoidInfoQuerierCompose" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CytoidInfoQuerierCompose">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>